@import url("./__list/axis__list.css");
@import url("./__item/axis__item.css");

.column__axis {
  height: 40px;
  display: flex;
  align-items: center;
}

@media (max-width: 650px) {
  .column__axis {
    display: none;
  }
}
