@import url("./__image/result__card__image.css");
@import url("./__source/result__card__source.css");
@import url("./__subtitle/result__card__subtitle.css");
@import url("./__time/result__card__time.css");
@import url("./__title/result__card__title.css");

.result__card {
  border-radius: 16px;
  background-color: #fff;
  cursor: pointer;
  position: relative;
}
