@import url("./__time/commits__card__time.css");
@import url("./__author/commits__card__author.css");
@import url("./__text/commits__card__text.css");

.commits__card {
  width: 400px;
  height: 300px;
  padding: 24px;
  background-color: #fff;
  border-radius: 16px;
  cursor: pointer;
}

@media (max-width: 1300px) {
  .commits__card {
    height: 250px;
  }
}
