.section-header__title {
  font-family: "Roboto-slab-regular", sans-serif;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
  margin: 0;
}

@media (max-width: 870px) {
  .section-header__title {
    margin-bottom: 16px;
  }
}
