.card__title {
  font-family: "Roboto-slab-regular", sans-serif;
  font-size: 26px;
  padding: 0 24px;
  margin: 0 0 16px;
  font-weight: normal;
  word-break: break-word;
}

@media (max-width: 700px) {
  .card__title {
    font-size: 22px;
    padding: 0 16px;
  }
}
