.container {
  margin: 0 104px;
}

@media (min-width: 1366px) {
  .container {
    margin: 0 auto;
    max-width: 1200px;
  }
}

@media (max-width: 1024px) {
  .container {
    margin: 0 40px;
  }
}

@media (max-width: 510px) {
  .container {
    margin: 0 16px;
  }
}