.column_mentions .column__row {
  background: #2f71e5;
  color: white;
  font-family: "Roboto-medium", sans-serif;
  font-size: 16px;
  padding-left: 6px;
}

.column_mentions .column__row:nth-child(3) {
  width: 15%;
}

.column_mentions .column__row:nth-child(4) {
  width: 18%;
}

.column_mentions .column__row:nth-child(5) {
  width: 11%;
}

.column_mentions .column__row:nth-child(6) {
  width: 39%;
}

.column_mentions .column__row:nth-child(7) {
  width: 45%;
}

.column_mentions .column__row:nth-child(8) {
  width: 73%;
}

.column_mentions .column__row:nth-child(9) {
  width: 34%;
}
