@import url("./__header/item__header.css");
@import url("./__icon/item__icon.css");

.technologies__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 70px;
}

.technologies__item:last-child {
  margin-right: 0;
}

@media (max-width: 670px) {
  .technologies__item {
    width: 50%;
    margin-right: 0;
    margin-bottom: 40px;
  }
}
