@import url("./__link/section-header__link.css");
@import url("./__title/section-header__title.css");

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 870px) {
  .section-header {
    flex-direction: column;
    align-items: flex-start;
  }
}
