.technologies__header {
  font-family: "Roboto-slab-regular", sans-serif;
  font-size: 40px;
  margin: 0;
}

@media (max-width: 1300px) {
  .technologies__header {
    max-width: 340px;
    font-size: 30px;
    margin-bottom: 40px;
  }
}
