@import url("./__image/arrow__image.css");

.glide__arrow {
  background-color: #1a1b22;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

@media (max-width: 1300px) {
  .glide__arrow {
    display: none;
  }
}
