.no-results__subtitle {
  display: inline-block;
  font-family: "Roboto-regular";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #b6bcbf;
  width: 356px;
}