.container.about__container {
  display: grid;
  grid-template-columns: calc(100% / 12 * 5) calc(100% / 12 * 7);
  align-items: center;
}

@media (max-width: 800px) {
  .container.about__container {
    margin-bottom: 16px;
    grid-template-columns: 100%;
  }
}