.breadcrumbs__item {
  margin-right: 15px;
  position: relative;
}

.breadcrumbs__item::before {
  content: "/";
  position: absolute;
  right: -10px;
  top: 0;
  color: #b6bcbf;
}

.breadcrumbs__item:last-child {
  margin-right: 0;
}

.breadcrumbs__item:last-child::before {
  content: "";
}
