.card__subtitle {
  padding: 0 24px;
  font-family: "Roboto-regular", sans-serif;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 55px;
  word-break: break-word;
}

@media (max-width: 700px) {
  .card__subtitle {
    padding: 0 16px;
  }
}
