.result__card__subtitle {
  padding: 0 24px;
  font-family: "Roboto-regular";
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 55px;
}

@media (max-width: 700px) {
  .result__card__subtitle {
    padding: 0 16px;
  }
}