.column__header {
  font-family: "Roboto-regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #b6bcbf;
  border-bottom: 1px solid #1a1b22;
  height: 40px;
}
