@import url("./_active/menu__item_active.css");

.menu__item {
  margin-left: 34px;
  color: #b6bcbf;
  font-family: "Roboto-medium", sans-serif;
  font-style: normal;
  font-size: 18px;
  text-decoration: none;
  height: 80px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  transition: 0.1s ease-in-out;
}
.menu__item:hover {
  color: #ffffff;
}

@media (max-width: 510px) {
  .menu__item {
    font-size: 14px;
    height: 56px;
    margin-left: 10px;
  }
}
